@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body{
    background-color: #638CB8;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: bolder;
}
